[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pycodestyle = "*"
pylint = "*"
pytest = "*"

[packages]
torch = "*"
torchvision = "*"
mnist = {editable = true,path = "."}

[requires]
python_version = "3.6"

[scripts]
lint = "pycodestyle mnist/"
test = "py.test tests/ -v"
fix = "autopep8 -ira mnist/"
